@each $breakpoint in map-keys($breakpoints) {
    .hide-#{$breakpoint} {
        @include respond-up($breakpoint) {
            display: none !important;
        }
    }

    .show-#{$breakpoint} {
        $cls: #{&};

        @include respond-up($breakpoint) {
            display: unset !important;

            // Special behavior for showing table cells after they were hidden
            @at-root td, th {
                &#{$cls} {
                    display: table-cell !important;
                }
            }
        }
    }
}

.no-js .show-js {
    display: none;
}

.sr-only {
    @include sr-only();
}

.sr-only-focusable {
    @include sr-only-focusable();
}
