.tabs {
}

.tabs__header {
    @include margin(null, -1);
    @include padding(null, 1);

    overflow-x: auto;
    overflow-y: visible;
    white-space: nowrap;

    button {
        @include css-outline();
        @include margin(r, 1);
        @include padding(x, 3);
        @include padding(y, 1);

        background: $background-dark;
        border: $border-default;
        border-bottom: 0;
        color: $color-text-primary;
        min-width: 40%;
        position: relative;
        white-space: nowrap;

        @include respond-up(md) {
            min-width: 30%;
        }

        @include respond-up(lg) {
            min-width: 0;
        }

        &[aria-selected='true'] {
            background: $color-primary;

            &::before,
            &::after {
                border: 1px solid transparent;
                content: '';
                display: block;
                left: 0;
                position: absolute;
                width: 100%;
            }

            &::before {
                border-color: orange;
                top: 0;
            }

            // Negative so we can emulate the effect of a tab connecting smoothly
            // with the tab body.
            &::after {
                border-color: $color-primary;
                bottom: -1px;
            }
        }

        &:last-of-type {
            margin-right: 0;
        }
    }
}

.tabs__tab {
    @include padding(null, 3);

    background: $color-primary;
    border: $border-default;
}
