.skip-to-content {
    background-color: $color-dark;
    position: fixed;
    z-index: 10;
}

.site-header-wrapper {
    @include padding(y, 3);

    background: $color-dark;
    width: 100%;
    z-index: 1;

    a {
        text-shadow: $text-shadow;
    }
}

.site-header {
    @extend .row;

    align-items: center;
    flex-direction: column;
    position: relative;

    @include respond-up(lg) {
        flex-direction: row;
    }
}

.site-header__brand {
    @extend .col-lg-auto;

    align-items: center;
    display: flex;

    img {
        margin-right: 5px;
        width: 160px;

        @include respond-up(md) {
            width: 200px;
        }
    }

    span {
        font-size: 1.5em;
    }
}

// Only use a fancy gradient when
.page-jumbotron .site-header-wrapper {
    position: absolute;

    @include respond-up(lg) {
        background: scrim-gradient();
    }
}
